version: 2.1

executors:
  node:
    working_directory: ~/app
    docker:
      - image: circleci/node:12.16
  node_cypress:
    working_directory: ~/app
    docker:
      - image: cypress/base:12.16.0

jobs:
  checkout_code:
    executor: node
    steps:
      - checkout
      - persist_to_workspace:
          root: ~/
          paths:
            - app

  install_dependencies:
    executor: node
    steps:
      - attach_workspace:
          at: ~/
      - restore_cache:
          keys:
            - v2-deps-{{ .Branch }}-{{ checksum "yarn.lock" }}
            - v2-deps-{{ .Branch }}
            - v2-deps
      - run: yarn install --frozen-lockfile
      - save_cache:
          key: v2-deps-{{ .Branch }}-{{ checksum "yarn.lock" }}
          paths:
            - ~/.cache
      - persist_to_workspace:
          root: ~/
          paths:
            - .cache
            - app/node_modules

  run_linter:
    executor: node
    steps:
      - attach_workspace:
          at: ~/
      - run:
          name: Run linter
          command: yarn lint

  run_unit_tests:
    executor: node
    steps:
      - attach_workspace:
          at: ~/
      - run:
          name: Run unit tests
          command: yarn test

  run_cypress_tests:
    executor: node_cypress
    parallelism: 3
    steps:
      - attach_workspace:
          at: ~/
      - run:
          name: Build app
          command: yarn build
      - run:
          name: Run cypress tests
          command: |
            yarn cypress run --reporter "./dist/index.js" --spec "$(circleci tests glob "./cypress/integration/**/*.spec.js" | circleci tests split --split-by=timings | paste -sd "," -)"
      - store_test_results:
          path: test_results
      - store_artifacts:
          path: test_results

workflows:
  version: 2
  build:
    jobs:
      - checkout_code
      - install_dependencies:
          requires:
            - checkout_code
      - run_linter:
          requires:
            - install_dependencies
      - run_unit_tests:
          requires:
            - run_linter
      - run_cypress_tests:
          requires:
            - run_unit_tests
