version: 2.1

orbs:
  node: circleci/node@7.2.1

executors:
  node:
    working_directory: ~/app
    docker:
      - image: cimg/node:24.11.1
  node_cypress:
    working_directory: ~/app
    docker:
      - image: cypress/base:24.11.1

jobs:
  run_linter:
    executor: node
    steps:
      - checkout
      - node/install-packages:
          pkg-manager: pnpm
      - run:
          name: Run linter
          command: pnpm lint

  run_unit_tests:
    executor: node
    steps:
      - checkout
      - node/install-packages:
          pkg-manager: pnpm
      - run:
          name: Run unit tests
          command: pnpm test

  run_cypress_tests:
    executor: node_cypress
    parallelism: 3
    steps:
      - checkout
      - run:
          name: Enable pnpm
          command: corepack enable pnpm
      - node/install-packages:
          pkg-manager: pnpm
      - run:
          name: Build app
          command: pnpm build
      - run:
          name: Run cypress tests
          command: |
            pnpm cypress run --reporter "./dist/index.js" --spec "$(circleci tests glob "./cypress/e2e/**/*.cy.js" | circleci tests split --split-by=timings | paste -sd "," -)"
      - store_test_results:
          path: test_results
      - store_artifacts:
          path: test_results

workflows:
  version: 2
  build:
    jobs:
      - run_linter
      - run_unit_tests
      - run_cypress_tests
